body {
	text-align: center;
}

input {
	text-align: center
}

#upload-form {
	display: inline-block;
    border: 2px black solid;
    color: black;
    text-align: center;
    padding: 20px;
}

#output-div {
	display: inline-block;
	border: 3px black solid;
	padding: 20px;
}
