<!DOCTYPE html>
<html>
	<head>
		<title>Validation</title>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	</head>
	<body>
		<div id="output-div">
			<h1 style="color: green;">BASE MAP ON INPUT</h1>
			<a href="{{url_for('upload')}}"><button>Show Map</button></a>
			<a href="{{url_for('index')}}"><button>Input Page</button></a><br><br>
			<img src = "{{url_for('static' , filename='validation.png')}}", alt="Validation image">
			<img src="../static/labels/labels.png" alt="labels" style="width:250px;height:250px;">
		</div>
	</body>
</html>